@page "/EditarAseguradora/{Id:int}"
@inject IInsurerServices InsurerServices
@inject NavigationManager nav

<h3>Editar Aseguradora</h3>

<FormEditCreateComponent Insurer="@insurer" OnSubmit="@UpdateInsurer" TextButton="Editar" />

@code {

    [Parameter]
    public int Id { get; set; }

    private Insurer insurer = new Insurer();

    protected async override Task OnParametersSetAsync()
    {
        var r1 = await InsurerServices.GetInsurerById(Id);
        insurer = new Insurer() { Id = r1.Id, Name = r1.Name, Nit = r1.Nit, Address = r1.Address, Phone = r1.Phone, Email = r1.Email };
        //await UpdateInsurer();
        //StateHasChanged();
    }

    private async Task UpdateInsurer()
    {
        var r2 = new Insurer() { Id = insurer.Id, Name = insurer.Name, Nit = insurer.Nit, Address = insurer.Address, Phone = insurer.Phone, Email = insurer.Email };
        await InsurerServices.UpdateInsurer(r2.Id, r2);
        //await InvokeAsync(StateHasChanged);

        nav.NavigateTo("ListadoAseguradoras");
        //await Task.CompletedTask;
    }
}
